# loops in pyhton

In [1]:
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [2]:
i=1
while i<=3:
    print("bye")
    i=i+1

bye
bye
bye

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
i=2
while(i<=20):
    print(i)
    i=i+2

2
4
6
8
10
12
14
16
18
20

In [7]:
for i in range(5):
    print("hello karan")

hello karan
hello karan
hello karan
hello karan
hello karan

In [8]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

In [10]:
for i in range(1,5):
    print("* "*i)

*
* *
* * *
* * * *

In [11]:
for i in range(1,21):
    if(i%2==0):
        print(i,"it is even number")
    else:
        print(i,"it is odd")

1 it is odd
2 it is even number
3 it is odd
4 it is even number
5 it is odd
6 it is even number
7 it is odd
8 it is even number
9 it is odd
10 it is even number
11 it is odd
12 it is even number
13 it is odd
14 it is even number
15 it is odd
16 it is even number
17 it is odd
18 it is even number
19 it is odd
20 it is even number

In [12]:
total=0
for i in range(1,11):
    total=total+i
print(total)

55

In [15]:
num=int(input("enetr a number:"))
count=0
for i in str(num):
    count=count+1
print(int(count))
print(type(count))

enetr a number: 66666

5
<class 'int'>

In [17]:
num=int(input("enter a number: "))

for i in range(1,11):
    print(f"{num} X {i} ={num*i}")

enter a number:  6

6 X 1 =6
6 X 2 =12
6 X 3 =18
6 X 4 =24
6 X 5 =30
6 X 6 =36
6 X 7 =42
6 X 8 =48
6 X 9 =54
6 X 10 =60

In [18]:
num=int(input("enetr a number:"))
fact=1

for i in range(1,num+1):
    fact = fact * i
print(fact)

enetr a number: 5

120

In [1]:
for i in range(1,6):
    if i==3:
        break
    print(i)

1
2

In [2]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5